{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <style>div.canvas canvas {width:100%}</style>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Nat-Log details for "{{ (list|first).title }}"</h6>
                </div>
                <div class="card-body">
                    {% if list|length %}  
                        <div class="row">
                            {% for key,value in list %}
                                <div class="col-lg-6 mb-4">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <p class="btn btn-{% if value.known %}success{% else %}warning{% endif %} btn-circle"><i class="fas fa-exclamation-triangle"></i></p>
                                            <h6 class="m-0 font-weight-bold text-primary">
                                                {{ key }}
                                            </h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="canvas canvas{{ key }}" style="width:100%;height:50px;"></div>
                                            <div class="elapsed{{ key }}"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <h3>No entries</h3>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
{% block footer_javascripts %}    
    <script>
        natloggerData = {{ json_list|raw }};                
    </script> 
{% endblock %}