{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">Nat-log</span></h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <p>Date: <input type="text" id="datepicker"></p>
                        </div>
                    </div>
                    <style>div.canvas canvas {width:100%}</style>
                    {% if list|length %}
                        <div class="row">
                            {% for key,value in list %}
                                <div class="col-lg-6 mb-4">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <p class="btn btn-{% if value.known %}success{% else %}warning{% endif %} btn-circle"><i class="fas fa-exclamation-triangle"></i></p>
                                            <h6 class="m-0 font-weight-bold text-primary">
                                                {{ value.title }}
                                            </h6>
                                            <div class="dropdown no-arrow">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                    <div class="dropdown-header">Action:</div>
                                                    <a class="dropdown-item" href="{{ path('nat_detail',{hostid:value.hostid}) }}">Show all entries about this host</a>
                                                    {#<a class="dropdown-item" href="#">Another action</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Something else here</a>#}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="canvas canvas{{ key }}" style="width:100%;height:50px;"></div>
                                            <div class="elapsed{{ key }}"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <h3>No entries</h3>
                            </div>
                        </div>
                    {% endif %}   
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
{% block footer_javascripts %}    
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();//"setDate", "{{ date_datepicker }}"
            $( "#datepicker" ).datepicker("setDate", "{{ date_datepicker }}");
            $('#datepicker').on('change',function(e){
                let date = $('#datepicker').datepicker("option", "dateFormat", "dd.mm.yy" ).val();
                post(window.location.pathname,{'date':date},'post');
            });
        } );
        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.
            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);
            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);
                    form.appendChild(hiddenField);
                }
            }
            document.body.appendChild(form);
            form.submit();
        }
    </script>
    <script>
        natloggerData = {{ json_list|raw }};
    </script>    
{% endblock %}