{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}
    {#<h1 class="h3 mb-2 text-gray-800">Jobs</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
#}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Jobs</h6>
        </div>
        <div class="card-body">
            <a href="{{ url('job_create') }}"><i class="fas fa-plus"></i> Create</a>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Subject</th>
                        <th>Parallel worker</th>
                        <th>Timeout</th>
                        <th>Timezone</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.type }}</td>
                            <td>{{ job.subject }}</td>
                            <td>{{ job.parallelJobs }}</td>
                            <td>{{ job.timeout }}</td>
                            <td>{{ job.timezone }}</td>
                            <td>{{ job.active ? 'yes' : 'no'  }}</td>
                            <td>
                                <a href="{{ url('job_update',{id:job.id}) }}">Edit</a>
                                -
                                <a href="#" class="baseapp-modal-dialog" data-title="Warning" data-body="Do you want to delete job '{{ job.subject }}'?" data-button="Ok" data-href="{{ url('job_delete',{id:job.id}) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_javascripts %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %}