{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block content_inner %}

    {#<h1 class="h3 mb-2 text-gray-800">Hosts</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
#}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Hosts</h6>
    </div>
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>Hostname</th>
        <th>Ip</th>
        <th>Name</th>
        <th>Known</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for host in hosts %}
    <tr>
        <td>{{ host.host }}</td>
        <td>{{ host.ip }}</td>
        <td>{{ host.name }}</td>
        <td>{{ host.known ? 'yes' : 'no'  }}</td>
        <td>
            <a href="{{ url('host_update',{id:host.id}) }}">Edit</a>
            -
            <a href="{{ url('nat_detail',{hostid:host.id}) }}">Show all entries</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>



{% endblock %}

{% block footer_javascripts %}
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %}